<a href="https://colab.research.google.com/github/YaelGF/Marchine_Learning/blob/main/Reto_numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Reto Numpy 
## Elaborado por: Yael Garcia Franco
### Del grupo: IDGS91
### Fecha: 11/10/2022
#### En la universidad "ACME" se desea calcular el promedio de cada uno de los alumnos, y el 치rea de control escolar genero el archivo calificaciones_v1.csv para calcular el promedio por alumno, y tener un archivo con formato similar al archivo calificaciones_promedio_v1.csv.

In [ ]:
import numpy as np

Entre cuantas columnas sera dividido el CSV, tomando en cuenta en que indices se repite el primer encabezado y la resta de estos dos daba como resultado el numero de columnas.
El muestreo hace referencia a cuantos campos se mostraran como ejemplo para no estar mostrando los 48 registros totales del archivo.

In [ ]:
columns = 9
muestreo = 10

De CSV a narray de numpy

In [ ]:
arrayCSV = np.genfromtxt("calificaciones_v1.csv", delimiter = ',',dtype=str)
arrayCSV[:muestreo]

array([['matricula', '11111111'],
       ['nombre', 'Alumno 1'],
       ['grupo', 'TI11'],
       ['Materia 1', '1'],
       ['Materia 2', '8'],
       ['Materia 3', '1'],
       ['Materia 4', '7'],
       ['Materia 5', '2'],
       ['estado', 'regular'],
       ['matricula', '11111112']], dtype='<U9')

Permutaci칩n del array para pasar de un array de (n * 2) a 
(2 * n).
Para tener los encabezados hasta arriba para su siguiente eliminacion y en otra matriz tener los resultados crudos

In [ ]:
arraySwap = arrayCSV.swapaxes(0,1)
arraySwap[0][:muestreo]

array(['matricula', 'nombre', 'grupo', 'Materia 1', 'Materia 2',
       'Materia 3', 'Materia 4', 'Materia 5', 'estado', 'matricula'],
      dtype='<U9')

Borrado de los encabezados del archivo

In [ ]:
arrayData = np.delete(arraySwap,0,0)
arrayData[0][:muestreo]

array(['11111111', 'Alumno 1', 'TI11', '1', '8', '1', '7', '2', 'regular',
       '11111112'], dtype='<U9')

Reestructuraci칩n del array para obtener  un array de (n * columns (en este caso 9))

In [ ]:
arrayData = arrayData.reshape(int(arrayData.size/columns),columns)
arrayData[:muestreo]

array([['11111111', 'Alumno 1', 'TI11', '1', '8', '1', '7', '2',
        'regular'],
       ['11111112', 'Alumno 2', 'TI11', '10', '7', '1', '8', '5',
        'regular'],
       ['11111113', 'Alumno 3', 'TI11', '4', '1', '1', '3', '0',
        'regular'],
       ['11111114', 'Alumno 4', 'TI11', '5', '4', '3', '2', '7',
        'regular'],
       ['11111115', 'Alumno 5', 'TI11', '9', '10', '3', '9', '2',
        'regular'],
       ['11111116', 'Alumno 6', 'TI11', '1', '3', '8', '1', '7',
        'regular'],
       ['11111117', 'Alumno 7', 'TI11', '4', '7', '1', '6', '5',
        'regular'],
       ['11111118', 'Alumno 8', 'TI11', '10', '1', '7', '10', '0',
        'regular'],
       ['11111119', 'Alumno 9', 'TI11', '5', '5', '4', '0', '3',
        'regular'],
       ['11111120', 'Alumno 10', 'TI11', '5', '7', '3', '3', '4',
        'regular']], dtype='<U9')

Convertir el array en lista para su manipulaci칩n, para la agragacion de nuevas columnas entre otras cosas

In [ ]:
data = arrayData.tolist()
data[:muestreo]

[['11111111', 'Alumno 1', 'TI11', '1', '8', '1', '7', '2', 'regular'],
 ['11111112', 'Alumno 2', 'TI11', '10', '7', '1', '8', '5', 'regular'],
 ['11111113', 'Alumno 3', 'TI11', '4', '1', '1', '3', '0', 'regular'],
 ['11111114', 'Alumno 4', 'TI11', '5', '4', '3', '2', '7', 'regular'],
 ['11111115', 'Alumno 5', 'TI11', '9', '10', '3', '9', '2', 'regular'],
 ['11111116', 'Alumno 6', 'TI11', '1', '3', '8', '1', '7', 'regular'],
 ['11111117', 'Alumno 7', 'TI11', '4', '7', '1', '6', '5', 'regular'],
 ['11111118', 'Alumno 8', 'TI11', '10', '1', '7', '10', '0', 'regular'],
 ['11111119', 'Alumno 9', 'TI11', '5', '5', '4', '0', '3', 'regular'],
 ['11111120', 'Alumno 10', 'TI11', '5', '7', '3', '3', '4', 'regular']]

Metodos que modifican los algunos campos de la lista

In [ ]:
def promedios(list):
  return sum(list)/len(list)

In [ ]:
def transformationInt(a):
    return int(a)

Convertir las calificaciones en enteros para posteriormente obtener el promedio de cada Alumno

In [ ]:
califications = []
averages = []
for i in data:
  califications.append(list(map(transformationInt,i[3:8])))
averages.append(list(map(promedios,califications)))
averages[0][:muestreo]

[3.8, 6.2, 1.8, 4.2, 6.6, 4.0, 4.6, 5.6, 3.4, 4.4]

Concatenar los datos ya existentes con los promedios recien sacados

In [ ]:
for i in range(len(data)):
  data[i].append(averages[0][i])
data[:muestreo]

[['11111111', 'Alumno 1', 'TI11', '1', '8', '1', '7', '2', 'regular', 3.8],
 ['11111112', 'Alumno 2', 'TI11', '10', '7', '1', '8', '5', 'regular', 6.2],
 ['11111113', 'Alumno 3', 'TI11', '4', '1', '1', '3', '0', 'regular', 1.8],
 ['11111114', 'Alumno 4', 'TI11', '5', '4', '3', '2', '7', 'regular', 4.2],
 ['11111115', 'Alumno 5', 'TI11', '9', '10', '3', '9', '2', 'regular', 6.6],
 ['11111116', 'Alumno 6', 'TI11', '1', '3', '8', '1', '7', 'regular', 4.0],
 ['11111117', 'Alumno 7', 'TI11', '4', '7', '1', '6', '5', 'regular', 4.6],
 ['11111118', 'Alumno 8', 'TI11', '10', '1', '7', '10', '0', 'regular', 5.6],
 ['11111119', 'Alumno 9', 'TI11', '5', '5', '4', '0', '3', 'regular', 3.4],
 ['11111120', 'Alumno 10', 'TI11', '5', '7', '3', '3', '4', 'regular', 4.4]]

Agregado de Headers en el indice 0

In [ ]:
titles = ["Matricula","Nombre","Grupo","Materia1","Materia2","Materia3","Materia4","Materia5","Estado","Promedio"]

In [ ]:
data.insert(0,titles)
data[:muestreo]

[['Matricula',
  'Nombre',
  'Grupo',
  'Materia1',
  'Materia2',
  'Materia3',
  'Materia4',
  'Materia5',
  'Estado',
  'Promedio'],
 ['11111111', 'Alumno 1', 'TI11', '1', '8', '1', '7', '2', 'regular', 3.8],
 ['11111112', 'Alumno 2', 'TI11', '10', '7', '1', '8', '5', 'regular', 6.2],
 ['11111113', 'Alumno 3', 'TI11', '4', '1', '1', '3', '0', 'regular', 1.8],
 ['11111114', 'Alumno 4', 'TI11', '5', '4', '3', '2', '7', 'regular', 4.2],
 ['11111115', 'Alumno 5', 'TI11', '9', '10', '3', '9', '2', 'regular', 6.6],
 ['11111116', 'Alumno 6', 'TI11', '1', '3', '8', '1', '7', 'regular', 4.0],
 ['11111117', 'Alumno 7', 'TI11', '4', '7', '1', '6', '5', 'regular', 4.6],
 ['11111118', 'Alumno 8', 'TI11', '10', '1', '7', '10', '0', 'regular', 5.6],
 ['11111119', 'Alumno 9', 'TI11', '5', '5', '4', '0', '3', 'regular', 3.4]]

Pasar de lista a array de numpy

In [ ]:
arrayFinish = np.array(data)
arrayFinish[:muestreo]

array([['Matricula', 'Nombre', 'Grupo', 'Materia1', 'Materia2',
        'Materia3', 'Materia4', 'Materia5', 'Estado', 'Promedio'],
       ['11111111', 'Alumno 1', 'TI11', '1', '8', '1', '7', '2',
        'regular', '3.8'],
       ['11111112', 'Alumno 2', 'TI11', '10', '7', '1', '8', '5',
        'regular', '6.2'],
       ['11111113', 'Alumno 3', 'TI11', '4', '1', '1', '3', '0',
        'regular', '1.8'],
       ['11111114', 'Alumno 4', 'TI11', '5', '4', '3', '2', '7',
        'regular', '4.2'],
       ['11111115', 'Alumno 5', 'TI11', '9', '10', '3', '9', '2',
        'regular', '6.6'],
       ['11111116', 'Alumno 6', 'TI11', '1', '3', '8', '1', '7',
        'regular', '4.0'],
       ['11111117', 'Alumno 7', 'TI11', '4', '7', '1', '6', '5',
        'regular', '4.6'],
       ['11111118', 'Alumno 8', 'TI11', '10', '1', '7', '10', '0',
        'regular', '5.6'],
       ['11111119', 'Alumno 9', 'TI11', '5', '5', '4', '0', '3',
        'regular', '3.4']], dtype='<U32')

Exportaci칩n a CSV

In [ ]:
np.savetxt("calificaciones_promedio_v1.csv", arrayFinish,'%s', delimiter=",")

In [ ]:
calificaciones = np.array(datos[:,3:8],dtype = np.int64)